<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>企业人事管理系统数据库设计</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CheckUser</display-name>
    <servlet-name>CheckUser</servlet-name>
    <servlet-class>org.nuc.servlet.CheckUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUser</servlet-name>
    <url-pattern>/CheckUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoAddEmplyee</display-name>
    <servlet-name>DoAddEmplyee</servlet-name>
    <servlet-class>org.nuc.servlet.DoAddEmplyee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoAddEmplyee</servlet-name>
    <url-pattern>/DoAddEmplyee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAgreement</display-name>
    <servlet-name>DeleteAgreement</servlet-name>
    <servlet-class>org.nuc.servlet.DeleteAgreement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAgreement</servlet-name>
    <url-pattern>/DeleteAgreement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoUpdateEmplyee</display-name>
    <servlet-name>DoUpdateEmplyee</servlet-name>
    <servlet-class>org.nuc.servlet.DoUpdateEmplyee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoUpdateEmplyee</servlet-name>
    <url-pattern>/DoUpdateEmplyee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateWorkAttendance</display-name>
    <servlet-name>UpdateWorkAttendance</servlet-name>
    <servlet-class>org.nuc.servlet.UpdateWorkAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateWorkAttendance</servlet-name>
    <url-pattern>/UpdateWorkAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateWorkOvertime</display-name>
    <servlet-name>UpdateWorkOvertime</servlet-name>
    <servlet-class>org.nuc.servlet.UpdateWorkOvertime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateWorkOvertime</servlet-name>
    <url-pattern>/UpdateWorkOvertime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoAddStudy</display-name>
    <servlet-name>DoAddStudy</servlet-name>
    <servlet-class>org.nuc.servlet.DoAddStudy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoAddStudy</servlet-name>
    <url-pattern>/DoAddStudy</url-pattern>
  </servlet-mapping>
</web-app>